@(userForm: Form[com.customy.models.user.User])(implicit request: RequestHeader,messagesProvider: MessagesProvider)
    @import helper._
    @com.customy.views.html.main("Register") {
        @helper.form(action = com.customy.controllers.AccManager.routes.RegisterController.registerSubmit,
        Symbol("class")->"form-inline"){
            @helper.CSRF.formField
            @inputText(userForm("name"), 
            Symbol("_label") -> "Name",
            Symbol("class") -> "control-label")

            @inputText(userForm("password"),
            Symbol("_label") -> "Password",
            Symbol("class") -> "control-label")

            @inputText(userForm("email"),
            Symbol("_label") -> "Email",
            Symbol("class") -> "control-label")
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Register">
            </div>
        }
    }