<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="test-register2.scala.css">
    <script src="test-register.scala.js"></script>
    <title>test-rejestracji</title>
</head>
<body>
<div id="container">
    <div id="title">CustomU</div>
    <div id="form2">
        <form action="nazwa_bazy_danych">
            <div id="headliner">
                <p>Zarejestruj się</p>
            </div>
            <div id="login_div">
                <p>Wprowadź swój login</p>
                <input type="text" id="login" value="">
            </div>
            <div id="hasło_div">
                <p>Wprowadź swoje hasło</p>
                <input type="text" id="hasło" value="">
            </div>
            <div id="hasło_pow">
                <p>Powtórz swoje hasło</p>
                <input type="text" id="hasło_2" value="">
            </div>
            <div id="przycisk2_div">
                <input id="kontynuuj2" type="submit" value="Utwórz konto">
            </div>
        </form>
    </div>
    <div id="footer">
        <p>Wszelkie prawa zastrzeżone ©</p>
    </div>
</div>
</body>
</html>
