<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="test-register.scala.css">
    <title>Rejestracja</title>
</head>
<body>
    <script>

    </script>
<div id="container">
    <div id="title">CustomU</div>
    <div id="main_form">
        <form action="nazwa_bazy_danych">
        <div class="form" id="first_form">
            <div class="headliner">
                <p>Zarejestruj się</p>
            </div>
            <div id="email_div">
                <p id="email_text">Wprowadź swój adres e-mail</p>
                <input type="text" id="email" value="">
            </div>
            <div id="przycisk_div">
                <input onclick="change()" id="kontynuuj" type="button" value="Przejdź do dalszej rejestracji">
            </div>
        </div>
        
        
        <div class="form" id="second_form" style="display: none">
            <div class="headliner">
                <p>Zarejestruj się</p>
            </div>
            <div id="login_div">
                <p>Wprowadź swój login</p>
                <input type="text" id="login" value="">
            </div>
            <div id="hasło_div">
                <p>Wprowadź swoje hasło</p>
                <input type="text" id="hasło" value="">
            </div>
            <div id="hasło_pow">
                <p>Powtórz swoje hasło</p>
                <input type="text" id="hasło_2" value="">
            </div>
            <div id="przycisk2_div">
                <input id="kontynuuj2" type="submit" value="Utwórz konto">
        </div>
    </div>
    
    
        </form>
    </div>
    <div id="footer">
        <p>Wszelkie prawa zastrzeżone ©</p>
    </div>
</div>
<script src="test-register.scala.js"></script>
</body>
</html>
